<html>

  <h1><%=@tweet.content%></h1>


  <form action='/tweets/<%=@tweet.id%>' method='post'>
    <input type="hidden" value="delete" name="_method">

    <input type="submit" name="Delete Tweet">

  </form>

  <form action='/tweets/<%=@tweet.id%>' method="post">
    <input type="hidden" id="content" value="patch" name="_method">

    <input type="submit" id="content" value="Edit Tweet">


  </form>
</html>
